beautifulsoup4==4.12.3
joblib==1.4.2
nltk==3.8.1
matplotlib==3.7.5
numpy==1.24.3
pandas==2.0.3
plotly==5.22.0
python-multipart==0.0.9
PyYAML==6.0.1
Requests==2.32.2
rusenttokenize==0.0.5
scipy==1.10.1
seaborn==0.13.2
streamlit==1.34.0
tqdm==4.66.4
urllib3==1.26.18







